.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

@media (max-width: 1024px) {
  .userInfo {
    flex-direction: column;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

@media (max-width: 1024px) {
  .info {
    gap: 0.25rem;
  }
}

.userImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  transition: border-radius 0.4s ease-in-out;
}

.userImg:hover {
  border-radius: 5%;
}
.userName {
  font-size: 1.5rem;
  font-weight: 600;
}

.name {
  font-size: 1rem;
  font-weight: 600;
}
.userLink {
  display: flex;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 1rem;
  transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
  color: #5d6d7c;
}

.userLink:hover {
  color: #2f5477;
  text-shadow: 0 0 1px #2f5477;
}

.companyLink {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 1rem;
  transition: color 0.2s ease-in-out;
}

.companyLink:hover {
  color: #474e47;
}
