:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray-rgb: 0, 0, 0;
  --gray-alpha-80: rgba(var(--gray-rgb), 0.8);
  --gray-alpha-50: rgba(var(--gray-rgb), 0.5);
  --gray-alpha-02: rgba(var(--gray-rgb), 0.02);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --box-shadow-gray: 0 4px 14px 4px var(--gray-alpha-50);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
